body {bbackground: yellow ;}
    
}#doc1 {background:tomato;padding:80px;text-align:centre;align-item:centre;}
#doc2 {background:yellow;padding:80px;text-align:centre;align-item:centre;}
#doc3 {background:violet;padding:80px;text-align:centre;align-item:centre;}
#doc4 {background:lime;padding:80px;text-align:centre;align-item:centre;}
#doc5{background: gold;padding: 80px;text;
box{background:yellow;padding:10px;merging:12px;}
table{background-color:yellow;border:1px;}
